@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 70 10% 12%;
    --foreground: 60 30% 96%;
    --card: 70 10% 16%;
    --card-foreground: 60 30% 96%;
    --popover: 70 10% 20%;
    --popover-foreground: 60 30% 96%;
    --primary: 52 100% 62%;
    --primary-foreground: 70 10% 10%;
    --secondary: 70 10% 22%;
    --secondary-foreground: 60 30% 96%;
    --accent: 80 80% 50%;
    --accent-foreground: 70 10% 8%;
    --destructive: 338 95% 55%;
    --destructive-foreground: 0 0% 100%;
    --muted: 70 10% 26%;
    --muted-foreground: 50 6% 58%;
    --border: 70 8% 22%;
    --input: 70 8% 28%;
    --ring: 80 76% 53%;
    --radius: 0rem;
    --sidebar-background: 70 8% 13%;
    --sidebar-foreground: 60 30% 96%;
    --sidebar-border: 70 8% 20%;
    --sidebar-primary: 80 76% 53%;
    --sidebar-primary-foreground: 70 8% 10%;
    --sidebar-accent: 70 8% 20%;
    --sidebar-accent-foreground: 60 30% 96%;
    --sidebar-ring: 80 76% 53%;
    --chart-1: 80 76% 53%;
    --chart-2: 338 95% 56%;
    --chart-3: 190 81% 67%;
    --chart-4: 261 100% 75%;
    --chart-5: 35 100% 50%;
  }

  .dark {
    --background: 70 10% 12%;
    --foreground: 60 30% 96%;
    --card: 70 10% 16%;
    --card-foreground: 60 30% 96%;
    --popover: 70 10% 20%;
    --popover-foreground: 60 30% 96%;
    --primary: 52 100% 62%;
    --primary-foreground: 70 10% 10%;
    --secondary: 70 10% 22%;
    --secondary-foreground: 60 30% 96%;
    --accent: 80 80% 50%;
    --accent-foreground: 70 10% 8%;
    --destructive: 338 95% 55%;
    --destructive-foreground: 0 0% 100%;
    --muted: 70 10% 26%;
    --muted-foreground: 50 6% 58%;
    --border: 70 8% 22%;
    --input: 70 8% 28%;
    --ring: 80 76% 53%;
    --radius: 0rem;
    --sidebar-background: 70 8% 13%;
    --sidebar-foreground: 60 30% 96%;
    --sidebar-border: 70 8% 20%;
    --sidebar-primary: 80 76% 53%;
    --sidebar-primary-foreground: 70 8% 10%;
    --sidebar-accent: 70 8% 20%;
    --sidebar-accent-foreground: 60 30% 96%;
    --sidebar-ring: 80 76% 53%;
    --chart-1: 80 76% 53%;
    --chart-2: 338 95% 56%;
    --chart-3: 190 81% 67%;
    --chart-4: 261 100% 75%;
    --chart-5: 35 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
